<% include partials/html-header %>

<div class="container mainform">
	<h1 class="bold">PIMPY</h1>

	<div class="buttonwidth">
		<form action="/login">
			<div class="form-group">
				<input type="submit" class="btn form-control" id="btn-submit" value="Sign in"/>
			</div>
		</form>

		<form action="/register">
			<div class="form-group">
				<input type="submit" class="btn form-control" id="btn-submit" value="Sign up"/>
			</div>
		</form>
	</div>
</div>

<% include partials/html-footer %>