<% include partials/html-header %>
<% include partials/header %>
<div class="collapse navbar-collapse" id="bs-nav">
    <ul class="nav navbar-nav navbar-right">
      <li><a id="current" href="/mytasks">Tasks</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/account">Account</a></li>
  </ul>
</div>
</div>
</nav>

<div class="container mainform">
    <h1> New team </h1>
    <div class="buttonwidth">
        <form action="/newteam" method="POST">
            <div class="form-group">
                <input name="groupname" class="form-control" type="text" placeholder="Teamname" required>
            </div>
            <div class="form-group">
                <h2>Members</h2>
                <% users.forEach(function(user){ %>
                <div class="form-check">
                   <input name="members[<%= user.username %>]" value="<%= user.username %>" type="checkbox">
                   <label for="<%= user.username %>"><%= user.username %> </label>
                </div>
                <% }); %>
            </div>
            <div class="form-group space">
                <input class="btn form-control" id="btn-submit" type="submit" value="Create">
            </div>
        </form>
        <p id="back"><a href="/"> Go back </a></p>
    </div>
</div>

<% include partials/html-footer %>