<% include partials/html-header %>
<% include partials/header %>
<div class="collapse navbar-collapse" id="bs-nav">
    <ul class="nav navbar-nav navbar-right">
      <li><a id="current" href="/mytasks">Tasks</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container mainform">
	<form action"/newminutes" method="POST">
		<div class="form-group">
			<h1>Group</h1>
			<select name="group" class="form-control" required>
				<% user.groups.forEach(function(group){ %>
					<option value="<%=group%>"> 
					<%= group %>
					</option>
				<% }) %>
        	</select>
        </div>
        <div class="form-group">
	        <h1>Minutes</h1>
	        <textarea name="minutes" class="form-control" rows="17"></textarea>
	    </div>
        <div class="form-group buttonwidth">
        	<input class="btn form-control" id="btn-submit" type="submit">
        </div>
	</form>
</div>

<% include partials/html-footer %>