<% include partials/html-header %>
<% include partials/header %>
<div class="collapse navbar-collapse" id="bs-nav">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/mytasks">Tasks</a></li>
      <li><a id="current" href="/projects">Projects</a></li>
      <li><a href="/account">Account</a></li>
    </ul>
  </div>
</div>
</nav>

<div class="container mainform">
	<h1> PROJECTS PAGE </h1>
</div>


<% include partials/html-footer %>