body {
    font-family: 'Oxygen', sans-serif;
    color: #001a2d;
    height: 99vh;
}

.navbar-default .navbar-brand {
    font-family: 'Oxygen', sans-serif;
    color: #e9eaea;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Oxygen', sans-serif;
    color: #e9eaea;
}

.navbar-toggle {
    border-radius: 0px;
}

.navbar-toggle .icon-bar {
    border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #e9eaea;
}

.navbar-default .navbar-toggle {
    border-color: #e9eaea;
}

.navbar-default {
    background-color: #001a2d;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #4d6b83;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    background-color: #4d6b83;
}

@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        width: 80px;
    }
}

@media (min-width: 768px){
    .navbar {
        border-radius: 0px;
    }
}

#current {
    background-color: #4d6b83;
    color: #FFFFFF;
}

.main {
    margin-top: 50px;
    padding-top: 20px;
    z-index: auto;
    margin-bottom: 20px;
}

.sidebar {
    top: 50px;
    background-color: #e9eaea;
    padding-right: 0px;
    padding-left: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar {
    border: 0px solid transparent;
    margin-bottom: 0px;
}

.row {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.navbar-fixed-top {
    top: 0;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        height: 100%;
        padding-top: 20px;
    }
    .main {
        margin-left: 16.666667%;
        padding-left: 30px;
        overflow: scroll;
        padding-right: 30px;
    }
    .sidebar .team-name {
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 20px;
    }
    .table {
        table-layout: fixed;
    }
}

.sidebar ul:last-child {
    padding-bottom: 20px;
}

#sidecurrent {
    background-color: #001a2d;
    color: #e9eaea;
}

a {
    color: #001a2d;
}

@media (max-width: 768px) {
    .sidebar ul li a {
        width: 100%;
    }
    .sidebar .team-name {
        padding: 20px;
    }
    .main {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.team-name {
    font-weight: bold;
    font-size: 20px;
}

.nav-sidebar>li>a:hover {
    background-color: #FFFFFF;
    color: #001a2d;
}

.table { 
    width: 100%!important; 
    margin-bottom: 15px!important;
}

.tbody>.tr {
    border-left: 5px solid #001a2d !important;
    background-color: #FFFFFF!important;
}

.table>.tr>.td:not(.team) {
    border: none;
    border-top: none!important;
}

.tr:nth-child(n+2) {
    border-top: 2px solid #FFFFFF!important;
}

.tr>.td:nth-child(1) {
    background-color: #e9eaea;
}
.tr>.td:nth-child(2) {
    background-color: #e9eaea;
}

.green {
    background-color: #00C875!important;
}

.red {
    background-color: #E2445C!important;
}

.orange {
    background-color: #FDAB3D!important;
}

.btn {
    border-radius: 0px;
    border: none!important;
    display: table-cell;
}

.tr>form {
    background-color: #FFFFFF;
}

.tr>form>button>.td {
    border: none!important;
}

.newtodo {
    background-color: #f7f7f7!important;
    text-align: left;
}

.th {
    border:none!important
} 

h3 {
    margin-top: 30px;
}

.form-control {
    border-radius: 0px;
    color: #001a2d;
    max-width: 100%;
}

.td>.form-control {
    padding-left: 6px;
    padding-right: 6px;
}

.tr>.td:nth-child(1):not(.newtodo) {
    width: 55%;
}

.tr>.td:nth-child(2) {
    width: 20%;
}

.tr>.td:nth-child(3) {
    width: 20%;
}

.tr>.td:nth-child(4) {
    width: 5%;
}

.tr>.th:nth-child(1) {
    width: 55%;
}

.tr>.th:nth-child(2) {
    width: 20%;
}

.tr>.th:nth-child(3) {
    width: 20%;
}

.table {
    border-collapse: collapse!important;
    display: table;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table > .tr {
    vertical-align: middle;
}

.col {
    display: table-column;
}

.colgroup {
    display: table-column-group;
}

.tr {
    display: table-row;
    vertical-align: inherit;
}

.td, .th {
    display: table-cell;
    vertical-align: inherit;
}

.td:not(.nopadding) {
    padding: 8px;
}

.th {
    font-weight: bold;
    background-color: #FFFFFF!important;
    padding: 8px;
}

button {
    outline: none;
    padding: 0;
    border: none;
}

button:not(.navbar-toggle) {
    background: none!important;
}

.btn:active {
    box-shadow: none;
}

.mainform {
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    z-index: auto;
    margin-bottom: 20px;
    width: 90%;
}

#back {
    text-align: left!important;
    padding-left: 5px;
}

@media (min-width: 900px){
    .mainform {
        width: 65%;
    }
}

#btn-submit {
    border: 2px solid #001a2d!important;
    background-color: #FFFFFF;
}

#btn-submit:focus {
    outline: none;
}

#btn-submit:hover {
    background-color: #f7f7f7;
}

span>.td {
    background-color: none;
}

#empty {
    background-color: #FFFFFF;   
}

.buttonwidth {
    padding-top: 40px;
    width: 50%;
    margin: auto;
}

@media (max-width: 535px){
    .buttonwidth {
        width: 90%;
    }
}

h3 {
    padding-top: 20px;
}

.bold {
    font-weight: bold;
}

h2 {
    padding-top: 20px;
}

.team {
    width: 100%!important;
    color: #001a2d;
    background-color: #FFFFFF!important;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}

.space {
    padding-top: 20px;
}

.removeteam {
    width: 10%!important;
}

.nopadding {
    padding: auto!important;
}

.btn:focus {
    outline: none!important;
}